.margin10 {
	
}

.gwt-Button {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 4px 10px 4px 10px;
}

.gwt-TextBox {
	padding: 5px;
	border: 1px solid #c9c9c9;
}